body{
    margin: 0;
    padding: 0;
    background-color: white;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.inp_lab {
    display:block;
    width:30%;
    padding:10px;
    margin:10px 0; 
}

.wrapper{
    width:180px;
    height: 80px;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 7px 21px rgba(0, 0, 0, .2);
}

.radio_group{
    position: relative;
    margin: 5px;
    width: 50px;
    height: 50px;
    text-align: center;
    list-style: 50px;
    font-size: 40px;
}

.radio_group input[type = "radio"]{
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 1;
    opacity: 0;
}

.radio_group input[type = "radio"] + label{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(.8);
}

.radio_group input[type = "radio"]:checked + label{
    transform: scale(1.1);
}

.btn {
    width: 10%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: #45a049;
}

.likeBtn {
    margin-right: 20px;
}

.disLikeBtn {
    margin-right: 20px;
}
