input {
    width:30%;
    padding:10px;
    margin:10px 0; 
}

input, label {
    display:block;
}

button {
    width: 10%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}